table.request_table tr th {
	width: 15%;
    background: #E6EAFF;
}
table.request_table {
    width: 100%;
    margin:20px 0 50px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-spacing:0;
}
table.request_table tr th,table.request_table tr td {　/*「,（カンマ）」で区切って複数のセレクタを指定しています*/
    font-size: 12px;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 7px;
}
