html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}


body {
	box-sizing: border-box;
	background: #fff;
	color: #444;
	font-size: 16px;
	font-family: '���C���I', Meiryo, '�q���M�m�p�S Pro W3', 'Hiragino Kaku Gothic Pro', Helvetica, Arial, '�l�r �o�S�V�b�N', sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

a:link {
	color: #04c;
	text-decoration: none;
}

a:hover {
	color: #f00;
	text-decoration: none;
}

a:visited {
	color: #999;
	text-decoration: none;
}

 /* ���C���C���[�W */

.outer {
	width: 100%;
}

.inner {
	position: relative;
	max-width: 640px;
	padding: 20px 10px;
	margin: 0 auto;
}

#header_wrap {

	background: #ea5866;
	background: -moz-linear-gradient(135deg, #8cc152, #da4453, #f6bb42);
	background: -webkit-linear-gradient(135deg, #8cc152, #da4453, #f6bb42);
	background: -ms-linear-gradient(135deg, #8cc152, #da4453, #f6bb42);
	background: -o-linear-gradient(135deg, #8cc152, #da4453, #f6bb42);
	background: linear-gradient(135deg, #8cc152, #da4453, #f6bb42);
	text-align: center;

}

#header_wrap .inner {
	padding: 50px 10px 30px 10px;
}

#project-title {
	margin: 0;
	color: #fff;
	font-size: 42px;
	font-weight: 700;
	text-shadow: #111 0px 0px 10px;
}

#project-line {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	background: none;
	text-shadow: #111 0px 0px 10px;
}

#outlink {
	position: absolute;
	width: 210px;
	z-index: 10;
	bottom: -40px;
	right: 0;
	height: 70px;
}

.twitter_link {
	display: block;
	float: right;
	width: 90px;
	height:80px;
	text-indent: -5000px;
	overflow: hidden;
	background: url("../icon/logo_safteyspace.png") no-repeat bottom left;
}

.youtube_link {
	display: block;
	float: left;
	width: 90px;
	height:80px;
	text-indent: -5000px;
	overflow: hidden;
	background: url("../icon/youtube_social_icon_red.png") no-repeat bottom right;
	margin-left: 10px;
}

/* �R���e���c */

.content {
	background: fff;
	padding: 48px 0 24px;
	
}

.article {
	margin: 0 auto 48px;
	padding-bottom: 48px;
	width: 960px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

.content:after,
.article:after,
.article-paragraph:after {
	display: block;
	clear: both;
	content: '';
}

.article-title {
	padding-bottom: 6px;
	border-bottom: #333 solid 1px;
}

.article-title,
.article-paragraph-title {
	clear: both;
	margin: 0 0 24px;
}

.article-paragraph {
	margin: 0 0 24px;
	line-height: 1.7;
	
}

/* �t�b�^�[ */

.footer {
	padding: 12px 0;
	border-top: #ccd1d9 solid 1px;
	background: #fff;
	text-align: center;
}

.footer-nav {
	margin-bottom: 12px;
	width: 100%;
	text-align: center;
}

.footer-nav-group {
	margin: 0;
	padding: 0;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	
	*display: inline;
}

.footer-nav-group>li {
	margin: 0;
	padding: 0 6px;
	font-size: 0.9em;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	
	*display: inline;
}

.footer-nav-group>li a {
	color: #666;
	text-decoration: none;
}

.footer-nav-group>li a:hover {
	color: #999;
}

.footer-text {
	margin-bottom: 6px;
	color: #999;
	font-size: 0.8em;
}

.footer-copyright {
	color: #999;
	font-size: 0.8em;
}

/* �p�[�c */

.btn {
	margin: 6px;
	padding: 12px 24px;
	border: #aab2bd solid 1px;
	background: #aab2bd;
	color: #fff;
	vertical-align: baseline;
	text-align: center;
	white-space: nowrap;
	font-size: 1em;
	line-height: 1;
	cursor: pointer;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	
	*display: inline;
}

.btn_lg {
	padding: 18px 36px;
}

.btn_sm {
	padding: 6px 12px;
	font-size: 0.8em;
}

a.btn:link,
a.btn:active,
a.btn:focus,
a.btn:hover,
a.btn:visited {
	color: #fff;
	text-decoration: none;
}

a.btn_default:link,
a.btn_default:active,
a.btn_default:focus,
a.btn_default:hover,
a.btn_default:visited {
	color: #656d78;
	text-decoration: none;
}

.btn_normal {
	border: #aab2bd solid 1px;
	background: #aab2bd;
}

.btn_default {
	border: #ccd1d9 solid 1px;
	background: #f5f7fa;
}

.btn_primary {
	border: #4a89dc solid 1px;
	background: #4a89dc;
}

.btn_secondary {
	border: #3eb34b solid 1px;
	background: #3eb34b;
}

.btn_success {
	border: #8cc152 solid 1px;
	background: #8cc152;
}

.btn_warning {
	border: #f6bb42 solid 1px;
	background: #f6bb42;
}

.btn_danger {
	border: #da4453 solid 1px;
	background: #da4453;
}

.btn_normal:hover {
	border: #ccd1d9 solid 1px;
	background: #ccd1d9;
}

.btn_default:hover {
	border: #aab2bd solid 1px;
	background: #e6e9ed;
}

.btn_primary:hover {
	border: #5d9cec solid 1px;
	background: #5d9cec;
}

.btn_secondary:hover {
	border: #52ca76 solid 1px;
	background: #52ca76;
}

.btn_success:hover {
	border: #a0d468 solid 1px;
	background: #a0d468;
}

.btn_warning:hover {
	border: #ffce54 solid 1px;
	background: #ffce54;
}

.btn_danger:hover {
	border: #ed5565 solid 1px;
	background: #ed5565;
}

#toggle2, #toggle4, #toggle6, #toggle8, #toggle10, #toggle12, #toggle14 {
	display: none;
}

.menu-wrap a {
	cursor:pointer;
}